.ui-widget { font-size: 12px; }
.ui-widget *{
  outline : none;
}
.ui-autocomplete {
  max-height  : 200px;
  width       : 260px;
  overflow-y  : auto;
  overflow-x  : hidden;
}

*{
  font-family : arial;
}

a{
  text-decoration : none;
  color           : #4787BF;
}
a:hover, a:focus{
  color : crimson;
}
a:active{
  color : green;
}

input, textarea, select, a{
  outline : none;
}
select, a{
  cursor  : pointer;
}
input, textarea, select{
  border    : 1px solid #ccc;
  padding   : 2px 4px;
}
input:focus, input:active, textarea:focus, select:focus{
  background  : #FFE591!important;
}

button, input[type="button"], input[type="submit"], select{
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ccc));
  background: -webkit-linear-gradient(top, #fff, #ccc);
  background: -moz-linear-gradient(top, #fff, #ccc);
  background: -ms-linear-gradient(top, #fff, #ccc);
  background: -o-linear-gradient(top, #fff, #ccc);
}

body{
  background  : #f6f6f6;
}

#main{
  position  : relative;
  border    : 1px solid #ccc;
  width     : 620px;
  margin    : 20px auto;
  font-size : 9pt;
}

#wrapper{
  position    : relative;
  background  : #fff;
}
.content{
  position  : relative;
}
.content .wrapper{
  margin  : 10px;
}
.content h3{
  border-bottom : 1px solid #ccc;
  margin        : 0 0 6px 0;
  padding       : 0 0 2px 0;
  font-size     : 10pt;
  font-weight   : bold;
  text-indent   : 5px;
}

#login{
  border-bottom : 1px solid #ccc;
  background    : #E3F2FF;
  padding       : 10px;
  text-align    : right;
}
#login input{
  margin  : 1px;
}
#login .admin {
  border-top: 1px solid #ccc;
  margin: 5px 0;
  padding: 5px 0;
  text-align: left;
}
#random-password {
  float: left;
  display: inline-block;
}

#searchBox{
  position  : relative;
  border    : 1px solid #ccc;
}
#searchBox #search{
  display       : block;
  border        : 0;
  width         : 100%;
  height        : 26px;
  padding       : 0 40px 0 3px;
}
#searchBox #addRoommate{
  position    : absolute;
  right       : 0;
  top         : 0;
  border      : 0;
  border-left : 1px solid #ccc;
  width       : 36px;
  height      : 26px;
  font-size   : 9pt;
}

.face-wrapper, .face{
  border      : 1px solid #aaa;
  background  : #f0f0f0;
  margin      : 5px 0;
}
/** Uncomment this when you implement group merge ^.^
.face-wrapper{
  background  : #fff;
  margin      : 10px 0;
}
.face-wrapper .face:first-child{
  border-top  : 0;
  margin-top  : 0;
}
.face-wrapper .face:last-of-type{
  border-bottom : 0;
  margin-bottom : 0;
}
.face-wrapper .face:only-of-type{
  margin  : 0;
  border  : 0;
}
**/
.face {
  font-size: 9pt;
}
.face .name, .face .year, .face .country{
  padding : 1px 3px;
}
.face .name{
  width : 100%;
}
.face .country-photo{
  position    : relative;
  border-top  : 1px solid #666;
  padding     : 2px 0;
  text-indent : 10px;
}
.face .country-photo img{
  right     : 3px;
  bottom    : -2px;
}

.points{
  border  : 1px solid #ccc;
  width   : 100%;
  margin  : 0 auto;
}
.points td{
  padding : 1px 10px;
}
.points .section{
  background  : orange;
  font-weight : bold;
  text-align  : center;
  color       : white;
}
.points .value{
  background  : lightgreen;
  padding     : 1px 3px;
  font-weight : bold;
  text-align  : center;
}

.room-choices{
  display : inline-block;
}
.room-choices li{
  text-align  : right;
}
.room-choices input[type="text"]{
  text-transform  : uppercase;
  width           : 130px;
}
.room-choices input{
  margin  : 1px 0;
}

.level{
  display : block;
  margin  : 10px auto;
}
.room{
  cursor  : pointer;
}
.room.selected{
  background  : orange!important;
}
.room.chosen{
  background  : lightgreen!important;
  font-weight : bold;
}
.room.ambiguous{
  background  : orange;
  font-weight : bold;
}
.room.taken{
  background  : #aaa!important;
}
.room.available{
  background  : yellow;
}
.room.locked{
  background  : crimson!important;
  color       : #fff;
}
.room .person{
  display : none;
}

#apartment-selection{
  border      : 1px solid #ccc;
  background  : #DEECFF;
  width       : 330px;
  padding     : 4px;
  text-align  : center;
}
#apartment-selection .choice{
  display : inline-block;
  margin  : 1px;
}
#apartment-selection .choice .title{
  display       : block;
  border        : 1px solid #ccc;
  padding       : 1px 3px;
  font-weight   : bold;
}
#apartment-selection .choice input{
  width : 100px;
}

.ui-tooltip, .qtip{
  width     : auto;
  max-width : 800; 
  min-width : 50px;
}

#college_choices_sort { 
  list-style-type: none; 
  margin: 0; 
  padding: 0;
}

#college_choices_sort li { 
  margin: 0 5px 5px 5px; 
  padding: 0!important;
  height: 30px;
  font-size: 11pt; 
  line-height: 30px;
  color: #fff;
}

.college-choice {
  position: relative;
  cursor: pointer;
}

.college-choice .number, .college-choice .name {
  display: block;
}

.college-choice .number {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-right: 1px solid #fff;
  background: rgba(255, 255, 255, 0.3);
  width: 30px;
  text-align: center;
}

.college-choice .name {
  margin-left: 20px;
  text-align: center;
}

#choice_College-III {
  background: #119e0e; /* Old browsers */
  background: -moz-linear-gradient(top,  #119e0e 0%, #0e900e 50%, #0a860e 51%, #0f6d1b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#119e0e), color-stop(50%,#0e900e), color-stop(51%,#0a860e), color-stop(100%,#0f6d1b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #119e0e 0%,#0e900e 50%,#0a860e 51%,#0f6d1b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #119e0e 0%,#0e900e 50%,#0a860e 51%,#0f6d1b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #119e0e 0%,#0e900e 50%,#0a860e 51%,#0f6d1b 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #119e0e 0%,#0e900e 50%,#0a860e 51%,#0f6d1b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#119e0e', endColorstr='#0f6d1b',GradientType=0 ); /* IE6-9 */
}

#choice_Nordmetall {
  background: #fceabb; /* Old browsers */
  background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
  color: #000!important;
}

#choice_Mercator { 
  background: #1a89ea; /* Old browsers */
  background: -moz-linear-gradient(top,  #1a89ea 0%, #157ad9 50%, #0f6acb 51%, #164ca4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1a89ea), color-stop(50%,#157ad9), color-stop(51%,#0f6acb), color-stop(100%,#164ca4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1a89ea 0%,#157ad9 50%,#0f6acb 51%,#164ca4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1a89ea 0%,#157ad9 50%,#0f6acb 51%,#164ca4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1a89ea 0%,#157ad9 50%,#0f6acb 51%,#164ca4 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #1a89ea 0%,#157ad9 50%,#0f6acb 51%,#164ca4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a89ea', endColorstr='#164ca4',GradientType=0 ); /* IE6-9 */
}

#choice_Krupp {
  background: #ca0a0d; /* Old browsers */
  background: -moz-linear-gradient(top,  #ca0a0d 0%, #b80a0a 50%, #a90c07 51%, #8e1b0a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ca0a0d), color-stop(50%,#b80a0a), color-stop(51%,#a90c07), color-stop(100%,#8e1b0a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ca0a0d 0%,#b80a0a 50%,#a90c07 51%,#8e1b0a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ca0a0d 0%,#b80a0a 50%,#a90c07 51%,#8e1b0a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ca0a0d 0%,#b80a0a 50%,#a90c07 51%,#8e1b0a 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ca0a0d 0%,#b80a0a 50%,#a90c07 51%,#8e1b0a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca0a0d', endColorstr='#8e1b0a',GradientType=0 ); /* IE6-9 */
}

.college-additional-options {
  border: 1px solid #cccccc;
  margin: 8px 6px 5px 6px;
  padding: 4px;
  line-height: 1.6em;
  font-size: 1.1em;
  font-weight: bold;
  color: #555555;
  background: rgb(229,232,233); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(229,232,233,1) 0%, rgba(215,219,221,1) 50%, rgba(203,207,209,1) 51%, rgba(203,207,209,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,232,233,1)), color-stop(50%,rgba(215,219,221,1)), color-stop(51%,rgba(203,207,209,1)), color-stop(100%,rgba(203,207,209,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(229,232,233,1) 0%,rgba(215,219,221,1) 50%,rgba(203,207,209,1) 51%,rgba(203,207,209,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(229,232,233,1) 0%,rgba(215,219,221,1) 50%,rgba(203,207,209,1) 51%,rgba(203,207,209,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(229,232,233,1) 0%,rgba(215,219,221,1) 50%,rgba(203,207,209,1) 51%,rgba(203,207,209,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(229,232,233,1) 0%,rgba(215,219,221,1) 50%,rgba(203,207,209,1) 51%,rgba(203,207,209,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e8e9', endColorstr='#cbcfd1',GradientType=0 ); /* IE6-9 */
}

.college-additional-options.checked {
  background: #ffd76b; /* Old browsers */
background: -moz-linear-gradient(top, #ffd76b 0%, #ffa73d 50%, #ff891c 51%, #ff993f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd76b), color-stop(50%,#ffa73d), color-stop(51%,#ff891c), color-stop(100%,#ff993f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffd76b 0%,#ffa73d 50%,#ff891c 51%,#ff993f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffd76b 0%,#ffa73d 50%,#ff891c 51%,#ff993f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffd76b 0%,#ffa73d 50%,#ff891c 51%,#ff993f 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffd76b 0%,#ffa73d 50%,#ff891c 51%,#ff993f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd76b', endColorstr='#ff993f',GradientType=0 ); /* IE6-9 */
  color: #000;
}

.college-additional-options input {
  font-size: 1.3em;
  margin-right: 3px;
}


.ui-state-highlight { 
  height: 25px; 
  line-height: 15px; 
  border: 1px dashed #01005E;
  background: rgb(214,249,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(219,246,251,0.65) 0%, rgba(167,226,241,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(219,246,251,0.65)), color-stop(100%,rgba(167,226,241,0.65))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(219,246,251,0.65) 0%,rgba(167,226,241,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(219,246,251,0.65) 0%,rgba(167,226,241,0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(219,246,251,0.65) 0%,rgba(167,226,241,0.65) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(219,246,251,0.65) 0%,rgba(167,226,241,0.65) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6dbf6fb', endColorstr='#a6a7e2f1',GradientType=0 ); /* IE6-9 */
}

#beginTour {
  display: block;
  font-size: 11pt;
  font-weight: bold;
  text-align: center;
}

.ui-tooltip-modal{
  -moz-box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
  box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
}

.ui-tooltip-modal .ui-tooltip-content{
  padding: 10px;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

.clearBoth{
  visibility  : hidden;
  clear       : both;
}

#footer{
  position    : static;
  display     : block;
  border      : 0;
  padding     : 5px;
  font-weight : bold;
  text-align  : right;
}