.ui-widget { font-size: 12px; }
.ui-widget *{
  outline : none;
}
.ui-autocomplete {
  max-height  : 200px;
  width       : 260px;
  overflow-y  : auto;
  overflow-x  : hidden;
}

*{
  font-family : arial;
  font-size   : 9pt;
}

a{
  text-decoration : none;
  color           : #4787BF;
}
a:hover, a:focus{
  color : crimson;
}
a:active{
  color : green;
}

input, textarea, select, a{
  outline : none;
}
select, a{
  cursor  : pointer;
}
input, textarea, select{
  border    : 1px solid #ccc;
  padding   : 2px 4px;
}
input:focus, input:active, textarea:focus, select:focus{
  background  : #FFE591!important;
}

button, input[type="button"], input[type="submit"], select{
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ccc));
  background: -webkit-linear-gradient(top, #fff, #ccc);
  background: -moz-linear-gradient(top, #fff, #ccc);
  background: -ms-linear-gradient(top, #fff, #ccc);
  background: -o-linear-gradient(top, #fff, #ccc);
}

body{
  background  : #f6f6f6;
}

#main{
  position  : relative;
  border    : 1px solid #ccc;
  width     : 620px;
  margin    : 20px auto;
}

#wrapper{
  position    : relative;
  background  : #fff;
}
.content{
  position  : relative;
}
.content .wrapper{
  margin  : 10px;
}
.content h3{
  border-bottom : 1px solid #ccc;
  margin        : 0 0 6px 0;
  padding       : 0 0 2px 0;
  font-size     : 10pt;
  font-weight   : bold;
  text-indent   : 5px;
}

#login{
  border-bottom : 1px solid #ccc;
  background    : #E3F2FF;
  padding       : 10px;
  text-align    : right;
}
#login input{
  margin  : 1px;
}

#searchBox{
  position  : relative;
  border    : 1px solid #ccc;
}
#searchBox #search{
  display       : block;
  border        : 0;
  width         : 100%;
  height        : 26px;
  padding       : 0 40px 0 3px;
}
#searchBox #addRoommate{
  position    : absolute;
  right       : 0;
  top         : 0;
  border      : 0;
  border-left : 1px solid #ccc;
  width       : 36px;
  height      : 26px;
  font-size   : 9pt;
}

.face-wrapper, .face{
  border      : 1px solid #aaa;
  background  : #f0f0f0;
  margin      : 5px 0;
}
/** Uncomment this when you implement group merge ^.^
.face-wrapper{
  background  : #fff;
  margin      : 10px 0;
}
.face-wrapper .face:first-child{
  border-top  : 0;
  margin-top  : 0;
}
.face-wrapper .face:last-of-type{
  border-bottom : 0;
  margin-bottom : 0;
}
.face-wrapper .face:only-of-type{
  margin  : 0;
  border  : 0;
}
**/
.face .name, .face .year, .face .country{
  padding : 1px 3px;
}
.face .name{
  width : 100%;
}
.face .country-photo{
  position    : relative;
  border-top  : 1px solid #666;
  padding     : 2px 0;
  text-indent : 10px;
}
.face .country-photo img{
  right     : 3px;
  bottom    : -2px;
}

.points{
  border  : 1px solid #ccc;
  width   : 100%;
  margin  : 0 auto;
}
.points td{
  padding : 1px 10px;
}
.points .section{
  background  : orange;
  font-weight : bold;
  text-align  : center;
  color       : white;
}
.points .value{
  background  : lightgreen;
  padding     : 1px 3px;
  font-weight : bold;
  text-align  : center;
}

.room-choices{
  display : inline-block;
}
.room-choices li{
  text-align  : right;
}
.room-choices input[type="text"]{
  text-transform  : uppercase;
  width           : 130px;
}
.room-choices input{
  margin  : 1px 0;
}

.level{
  display : block;
  margin  : 10px auto;
}
.room{
  cursor  : pointer;
}
.room.selected{
  background  : orange;
}
.room.chosen{
  background  : lightgreen;
  font-weight : bold;
}
.room.taken{
  background  : #ddd;
}
.room .person{
  display : none;
}

#apartment-selection{
  border      : 1px solid #ccc;
  background  : #DEECFF;
  width       : 330px;
  padding     : 4px;
  text-align  : center;
}
#apartment-selection .choice{
  display : inline-block;
  margin  : 1px;
}
#apartment-selection .choice .title{
  display       : block;
  border        : 1px solid #ccc;
  padding       : 1px 3px;
  font-weight   : bold;
}
#apartment-selection .choice input{
  width : 100px;
}

.ui-tooltip, .qtip{
  width     : auto;
  max-width : 800; 
  min-width : 50px;
}

.ui-tooltip-modal{
  -moz-box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
  box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
}
 
.ui-tooltip-modal .ui-tooltip-content{
  padding: 10px;
}

.clearBoth{
  visibility  : hidden;
  clear       : both;
}

#footer{
  position    : static;
  display     : block;
  border      : 0;
  padding     : 5px;
  font-weight : bold;
  text-align  : right;
}